[submodule "vep-human"]
	path = vep-human
	url = git@github.com:apraga/vep-human
	datalad-id = 948eadce-6b93-486e-9c15-e9855da5cb28
	datalad-url = git@github.com:apraga/vep-human
[submodule "clinvar"]
	path = clinvar
	url = git@github.com:apraga/clinvar
	datalad-id = 2de7e266-e296-4e1e-82e1-8bde6a1d92a7
	datalad-url = git@github.com:apraga/clinvar
[submodule "genome-human"]
	path = genome-human
	url = git@github.com:apraga/genome-human
	datalad-id = d7714756-f058-49c6-9034-735a0797eb6b
	datalad-url = git@github.com:apraga/genome-human
